# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Obsidian 特定文件
docs/aniian/.obsidian/
docs/aniian/**/.obsidian/
# 添加以下规则以排除更多Obsidian特有文件
docs/aniian/**/.trash/
docs/aniian/.trash/
docs/aniian/**/.obsidian-git/
docs/aniian/.obsidian-git/
docs/aniian/**/.obsidian-mobile/
docs/aniian/.obsidian-mobile/
# Obsidian工作区文件
*.workspace